<div class="container-fluid fondo">
  <nav class="navbar navbar-dark bg-dark" style=" max-width: 56px;">
    <a class="navbar-brand" href="/">
      <i class="fas fa-home"></i>

    </a>
  </nav>
  <div class="container ">

    <br>
    <div class="row">

      <div class="col-sm-6">
        <div class="card mx-auto" style="width: 30rem;">
          <img class="card-img mx-auto d-block mt-3" src="/assets/img/federer.jpg" alt="ale">
          <div class="card-body">
            <h5 class="card-title">Alejandro Rossi</h5>

            <h6 class="card-subtitle mb-2 text-muted">Desarrollador - CEO frontend</h6>
            <p class="card-text">
              El loco del frontend, no importa si funciona correctamente, solo importa si se ve facherito.
              No pushea lo que hace, pero si le avisas... Sigue sin hacerlo.
            </p>
            <div>
              <hr>
              <h5>Contactame!</h5>
              <p><i class="fab fa-github"></i> /alejandrorossi</p>
              <p><i class="fab fa-linkedin-in"></i> </p>


            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card mx-auto" style="width: 30rem;">

          <img class="card-img mx-auto d-block mt-3" src="/assets/img/cesar.jpg" alt="emma">

          <div class="card-body">
            <h5 class="card-title">Emmanuel Peric&oacute;n</h5>
            <h6 class="card-subtitle mb-2 text-muted">Desarrollador - Vicepresidente backend</h6>
            <p class="card-text"> 
              Es el as de la programación funcional, una maquina indetenible del backend. 
              Descuidate 10 minutos y ya te puso una aplicación en produ.
            </p>

            <div>
              <hr>
              <h5>Contactame!</h5>
              <p><i class="fab fa-github"></i> /bePericon</p>
              <p><i class="fab fa-linkedin-in"></i> </p>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>