
.accion-magin-top{
  margin-top: 20px;
}

.btn-margin{
  margin-left: 5px;
  margin-right: 5px;
}

.card-center {
  display: block;
  text-align: center;
}

.p-margin-botton-0 {
  margin-bottom: 0px;
}