
<div class="">
  <h1 mat-dialog-title>Editar tarjeta</h1>
  <div mat-dialog-content>
    <form [formGroup]="tarjetaForm">
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipoCtrl" (ngModelChange)="onChange()" required>
          <mat-option *ngFor="let t of types" [value]="t">
            {{t.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput formControlName="numeroCtrl" 
        (ngModelChange)="onChange()" [(ngModel)]="data.numeroTarjeta" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código de seguridad</mat-label>
        <input matInput formControlName="codigoCtrl" pattern="[0-9]{3}?"
        [(ngModel)]="data.codigoSeguridad" required>
        <mat-hint align="start">Max. dígitos: 3</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    <button mat-button class="btn btn-success" [mat-dialog-close]="data" 
    [disabled]="!tarjetaValida()" cdkFocusInitial>Cambiar</button>
  </div>
</div>