<div class="container-fluid mt-3">

  <div class="row">

    <div class="col-sm-6">

      <h3> Crear evento personalizado:</h3>
      <span>Primero elegí cualquiera de las modalidades.</span>
      <br>

      <button type="button" value="fiesta" (click)="elegirModalidad('fiesta')" class="btn btn-outline-dark rounded-pill"
        matTooltip="{{infoFiesta}}">Fiesta
      </button>

      <button type="button" class="btn btn-outline-dark ml-2  rounded-pill" (click)="elegirModalidad('canasta')"
        matTooltip="{{infoCanasta}}">Canasta</button>
      <button type="button" class="btn btn-outline-dark ml-2 rounded-pill" (click)="elegirModalidad('baquita v1')"
        matTooltip="{{infoBaquitav1}}">Baquita v1</button>
      <button type="button" class="btn btn-outline-dark ml-2 rounded-pill" (click)="elegirModalidad('baquita v2')"
        matTooltip="{{infoBaquitav2}}">Baquita v2</button>

      <mat-vertical-stepper *ngIf="modalidad" [linear]="false" #stepper>

        <mat-step [stepControl]="nombreForm">
          <form [formGroup]="nombreForm">
            <ng-template matStepLabel>Nombre del evento</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nombre del evento" formControlName="nombreCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente <i class="material-icons">
                  chevron_right
                </i></button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="descripcionForm">
          <form [formGroup]="descripcionForm">
            <ng-template matStepLabel>Poné una descripción</ng-template>
            <mat-form-field>
              <textarea matInput placeholder="Descripción" formControlName="descripcionCtrl" required></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious><i class="material-icons">
                  chevron_left
                </i>Atrás</button>
              <button mat-button matStepperNext>Siguiente <i class="material-icons">
                  chevron_right
                </i></button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="fechaForm">
          <form [formGroup]="fechaForm">
            <ng-template matStepLabel>Fecha de Evento</ng-template>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Fecha del Evento" formControlName="fechaCtrl"
                required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious><i class="material-icons">
                  chevron_left
                </i>Atrás</button>
              <button mat-button matStepperNext>Siguiente<i class="material-icons">
                  chevron_right
                </i></button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="emailForm">
          <form [formGroup]="emailForm">
            <ng-template matStepLabel>Invitar!</ng-template>
            <mat-form-field class="full-width">
              <input [(ngModel)]="invitado" matInput placeholder="Email" formControlName="emailCtrl" required>
              <mat-hint>Recordá poner un mail válido</mat-hint>
            </mat-form-field>

            <button (click)="invitar()">invitar</button>

            <div>
              <button mat-button matStepperPrevious>
                <i class="material-icons">
                  chevron_left
                </i>
                Atrás
              </button>
              <br><br>
              <p *ngFor="let t of invitados">{{t}}</p>
            </div>
          </form>
        </mat-step>

      </mat-vertical-stepper>
    </div>
    <div class="col-sm-6">

      <div class="row">

        <h3>Sino, podés crealo desde un template:</h3>

        <span>Primero elegí la categía de templates.</span>
        <br> <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tus templates
              </mat-panel-title>
              <mat-panel-description>
                Estos son los templates creados por vos
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-mostrar-template></app-mostrar-template>

          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Templates públicos
              </mat-panel-title>
              <mat-panel-description>
                Templates públicos, comunes a todos los usuarios
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-mostrar-template></app-mostrar-template>

          </mat-expansion-panel>
        </mat-accordion>

        <h3 class="mt-5">Y sino, podés crear tu propio template desde cero</h3>
        <app-crear-template></app-crear-template>
      </div>

    </div>
    <br>


  </div>