<div class="">
  <div class="row">

    <div class="col-sm-6 shadow-sm p-4">

      <h3> Crear evento personalizado:</h3>

      <mat-radio-group [(ngModel)]="modalidadSeleccionada" 
      aria-label="Seleccione una modalidad para su evento:">
        <mat-radio-button class="rb-margin" matTooltip={{infoFiesta}} value="FIESTA">
          Fiesta</mat-radio-button>
        <mat-radio-button class="rb-margin" matTooltip={{infoCanasta}} value="CANASTA">
          Canasta</mat-radio-button>
        <mat-radio-button class="rb-margin" matTooltip={{infoBaquitav1}} value="BAQUITA_COMPRA">
          Baquita(1)</mat-radio-button>
        <mat-radio-button class="rb-margin" matTooltip={{infoBaquitav2}} value="BAQUITA_RECOLECCION">
          Baquita(2)</mat-radio-button>
      </mat-radio-group>
      <br>

      <mat-vertical-stepper [linear]="false" #stepper>

        <mat-step [stepControl]="nombreForm">
          <form [formGroup]="nombreForm">
            <ng-template matStepLabel>Nombre del evento</ng-template>
            <mat-form-field>
              <input matInput #nombreE maxlength="20" placeholder="Nombre del evento" formControlName="nombreCtrl" required>
              <mat-hint align="end">{{nombreE.value?.length || 0}}/20</mat-hint>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente
                <i class="material-icons">
                  chevron_right
                </i>
              </button>
            </div>
          </form>
        </mat-step>
      
        <mat-step [stepControl]="descripcionForm">
          <form [formGroup]="descripcionForm">
            <ng-template matStepLabel>Poné una descripción</ng-template>
            <mat-form-field>
              <textarea matInput #descE maxlength="200" placeholder="Descripción" formControlName="descripcionCtrl" required></textarea>
              <mat-hint align="end">{{descE.value?.length || 0}}/200</mat-hint>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>
                <i class="material-icons">
                  chevron_left
                </i>Atrás
              </button>
              <button mat-button matStepperNext>Siguiente
                <i class="material-icons">
                  chevron_right
                </i>
              </button>
            </div>
          </form>
        </mat-step>
      
        <mat-step [stepControl]="fechaForm">
          <form [formGroup]="fechaForm">
            <ng-template matStepLabel>Fecha de Evento</ng-template>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Fecha del Evento" formControlName="fechaCtrl"
                required>
                
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      
            <div>
              <button mat-button matStepperPrevious><i class="material-icons">
                  chevron_left
                </i>Atrás</button>
              <button mat-button matStepperNext>Siguiente<i class="material-icons">
                  chevron_right
                </i></button>
            </div>
          </form>
        </mat-step>
        <!-- AGREGAR ITEMS -->
        <mat-step [stepControl]="itemForm">
          <ng-template matStepLabel>Agregar items</ng-template>
      
          <app-agregar-items></app-agregar-items>
      
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
      
        <mat-step [stepControl]="emailForm">
          <form [formGroup]="emailForm">
            <ng-template matStepLabel>Invitar!</ng-template>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="emailCtrl">
              <mat-hint>Recordá poner un mail válido</mat-hint>
            </mat-form-field>
      
            <button matTooltip="agregar a lista de invitados!" style="border-radius:50%; width:40px; height:40px"
              class="btn btn-outline-success ml-4" (click)="invitar()" [disabled]="emailInvalido()"><i
                class="fas fa-user-plus"></i></button>
      
            <div>
              <button mat-button matStepperPrevious>
                <i class="material-icons">
                  chevron_left
                </i>
                Atrás
              </button>
      
              <button mat-button matStepperNext>Siguiente
                <i class="material-icons">chevron_right</i>
              </button>
              <br>
      
              <div *ngIf="invitados.length > 0">
                <h4>Invitados:</h4>
                <div *ngFor="let t of invitados" class="mt-1">
                  <div>
                    <span style="vertical-align: super;">{{t}} </span>
                    <button (click)="removerInvitado(t)" class="btn btn-outline-danger btn-sm boton-cerrar"
                      matTooltip="Remover invitado">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
      
        <mat-step>
          <ng-template matStepLabel>Listo!</ng-template>
      
            <button mat-button matStepperPrevious>
              <i class="material-icons">chevron_left</i>Atrás
            </button>
      
            <button matTooltip="Se perderán todos los datos cargados" (click)="cancelarCreacion(stepper)"
              mat-button>Cancelar evento
            </button>
            <hr>
            <button class="btn btn-outline-success mt-1" (click)="crearEvento(stepper)" 
            [disabled]="!creacionValida()" > Crear! </button>
          
        </mat-step>
      
      </mat-vertical-stepper>

    </div>

    <!-- TEMPLATES************************************************************************************ -->
  
    
    <div class="col-sm-6 shadow-sm p-4">
     
      <div class="row">

        <h3>Sino, podés crealo desde un template:</h3>

        <br> <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fas fa-book"></i>
              </mat-panel-title>
              <mat-panel-description >
                Mis templates
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-mostrar-template [esPublico]=false [templates]=templatesPrivados></app-mostrar-template>

          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fas fa-globe"></i>
              </mat-panel-title>
              <mat-panel-description>
                Templates públicos
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-mostrar-template [templateApi]="getApiTemplate()" [esPublico]=true [templates]=templatesPublicos></app-mostrar-template>

          </mat-expansion-panel>
        </mat-accordion>


      </div>
      <div class="row">
        <!-- CREAR TEMPLATE -->
        <br>
        <app-crear-template [parentApi]="getParentApi()"></app-crear-template>
      </div>
    </div>
    <br>


  </div>
</div>