<div class="container-fluid">
    <h3 class="mt-5">Y sino, podés crear tu propio template desde cero</h3>
  <div class="row">
    <form class="mi-cuenta-form">

      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre de template" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Algo" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Otra cosa" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="sarasa" value="">
      </mat-form-field>
      <br>

    </form>
  </div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="public" checked>Público</mat-radio-button>
      <mat-radio-button class="ml-2" value="private">Privado</mat-radio-button>
    </mat-radio-group>

 
</div>