<div class="container">
  <h3 class="mt-5">O podés crear tu propio template desde cero</h3>
  <div class="row">
   
    <mat-vertical-stepper [linear]="true" #stepper>

      <mat-step [stepControl]="nombreFormGroup">
        <form [formGroup]="nombreFormGroup">
          <ng-template matStepLabel>Nombre de Template</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nombre del Template" formControlName="nombreCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="descripcionFormGroup">
        <form [formGroup]="descripcionFormGroup">
          <ng-template matStepLabel>Descripción</ng-template>
          <mat-form-field>
            <textarea  matInput placeholder="Descripción" formControlName="descripcionCtrl" required></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fechaFormGroup">
        <form [formGroup]="fechaFormGroup">
          <ng-template matStepLabel>Fecha evento</ng-template>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Fecha del evento" 
            formControlName="fechaCtrl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
          <div>
            <button mat-button matStepperPrevious><i class="material-icons">
                chevron_left
              </i>Atrás</button>
            <button mat-button matStepperNext>Siguiente<i class="material-icons">
                chevron_right
              </i></button>
          </div>
        </form>
      </mat-step>

      <!-- MODALIDAD, PONER UN SELECT -->
      <mat-step [stepControl]="modalidadFormGroup">
        <form [formGroup]="modalidadFormGroup">
          <ng-template matStepLabel>Modalidad</ng-template>

          <mat-form-field>
              <mat-label>Modalidad</mat-label>
              <mat-select  formControlName="modalidadCtrl">
                <mat-option *ngFor="let mod of modalidades" [value]="mod.value">
                  {{mod.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <!-- AGREGAR ITEMS -->
      <mat-step>
          <ng-template matStepLabel>Agregar items</ng-template>
          
          <app-agregar-items></app-agregar-items>

          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Listo!</ng-template>

          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button (click)="stepper.reset() && resetForm()">Cancelar todo <i class="fas fa-redo"></i> </button>
          <hr>
          <button class="btn btn-outline-success mt-1" (click)="crearTemplate(stepper)" 
          [disabled]="!creacionValida()" > Crear! </button>
        
      </mat-step>
    
    </mat-vertical-stepper>

  </div>
</div>