<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-4 mt-2" *ngFor="let t of templates">

        <div class="templ">
          <span class="titulo">{{t.nombre}} - <span class="mb-2 text-muted">{{t.modalidad}}</span></span>
          <!-- <h6 class="mb-2 text-muted">{{t.modalidad}}</h6> -->
          <hr>
          <p>{{t.descripcion}}</p>
          <hr>
          <div *ngIf="esMiTemplate">
              <mat-checkbox  [(ngModel)]="visibilidad"><i class="fas fa-globe ml-1"></i> Público </mat-checkbox>
          </div>

          <button matTooltip="Elegir {{t.nombre}}" class="btn btn-outline-success float-right" 
            (click)="elegirTemplate(t)"> <i class="fas fa-check"></i>
          </button>

        </div>

        


      </div>


    </div>
  </div>

</div>