<div class="container-fluid">

  <div class="fondo-landing">

    <div class="layer">
      <br><br><br><br><br>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <h1>Bienvenido a Eventeando!</h1>
          <p>Eventeando es tu plataforma interactiva para el manejo de tus eventos, fiestas juntadas y reuniones!</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="float-right" >
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Ejemplo</mat-card-title>
                <mat-card-subtitle>Sarasa</mat-card-subtitle>
              </mat-card-header>
              <h3>aca va un login, pero que se vea lindo</h3>
              <mat-card-content>
                <p>
                  Sarlanga sarlanga
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>prueba 1</button>
                <button mat-button>prueba 2</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>


  </div>