<div class="container-fluid">

  <div class="fondo-landing">

    <div class="layer">
      <div class="container">
        <br><br><br>
        <div class="row">

          <div class="col-sm-6">

            <h1>Bienvenido a Eventeando!</h1>

            <p>Eventeando es tu plataforma interactiva para el manejo de tus eventos, fiestas juntadas y reuniones!</p>
            <p>Totalmente personalizable, administr&aacute; los gatos, invitados y detalles a eleccion</p>
            <div class="text-center">
              <h5>¿Quienes somos?</h5>
              <p>
                <button type="button" (click)="gotoNosotros()" class="btn btn-outline-light">Conocenos</button>
              </p>
            </div>
          </div>
          <p>


          </p>

          <div class="col-sm-2"></div>
          <div class="col-sm-4">

            <div class="login-c">
              <br>
              <h4 class="titulo-login">Login <i class="fas fa-user-circle"></i></h4>
              <hr>
              <form class="example-form">
                <mat-form-field class="">
                  <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">

                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                  <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                </mat-form-field>

                <br><br>
                <button type="button" (click)="goto('eventos')"
                  class="btn btn-outline-dark  btn-block">Ingresar!</button>
              </form>

              <!-- <button type="button" class="btn btn-outline-secondary">Olvidé mi contraseña</button> -->
              <br>
            </div>
            <br>


          </div>
        </div>
        <!-- <br>  -->
        <div class="row mt-3">
          <div class="col-sm-6">
            <div class="text-center">
              <h2 class="mx-auto">¿No estás registrado? </h2>
              <h2 class="mx-auto">Hacelo, ¡es gratis!</h2>
              <button type="button" class="btn btn-outline-success mx-auto" (click)="openDialog()">¡Registrarme! <i
                  class="fas fa-user-plus"></i></button>
            </div>
          </div>
          <div class="col-sm-6">

          </div>



        </div>



      </div>
      <!--CONTAINER-->



    </div>
  </div>