<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons"> fiber_new </i>
            Pendientes
          </ng-template>
          <app-mostrar-invitaciones  [parentApi]="getParentApi()" [mostrarAcciones]="true" #aPendientes></app-mostrar-invitaciones>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-check mr-1"></i>
            Aceptados en curso
          </ng-template>

          <app-mostrar-invitaciones [mostrarAcciones]="false" #aAceptados></app-mostrar-invitaciones>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fas fa-history mr-1"></i>
            Pasados
          </ng-template>
          <app-mostrar-invitaciones [mostrarAcciones]="false" #aPasados></app-mostrar-invitaciones>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fas fa-times mr-1"></i>
            Rechazados
          </ng-template>
          <app-mostrar-invitaciones [mostrarAcciones]="false" #aRechazados></app-mostrar-invitaciones>
        </mat-tab>


      </mat-tab-group>
    </div>
  </div>

</div>