<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-6">

      <div class="card mt-2 ml-2">
        <div class="card-body">

          <mat-list role="list">
            <mat-list-item role="listitem">
              <label for="saldo">Saldo: $ </label>
              <label>{{saldo}}</label>
            </mat-list-item>

            <mat-list-item role="listitem">
                <label for="situacion">Situacion de usuario: </label>
                <label>{{situacion}}</label>
            </mat-list-item>
            <br>
            <mat-list-item role="listitem">
              <div class="card mt-2 ml-2">
                <div class="card-body">
                  <label for="tarjetaCredito">Tarjeta de credito: </label>
                  <label>{{tarjetaCredito}}</label>
                  <br>
                  <button mat-stroked-button color="primary">Editar</button>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
          <br>
        </div>
      </div>

    </div>

    <div class="col-sm-6">

    </div>
  </div>
</div>
