

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">

        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
            <mat-tab label="Estado de cuenta">
              <app-estado-cuenta></app-estado-cuenta>
            </mat-tab>
    
            <mat-tab label="Ingresar dinero">
              <app-ingresar-dinero (notifyActualizarEstadoCuenta)='onNotifyActualizarEstadoCuenta($event)'>
              </app-ingresar-dinero>
            </mat-tab>

            <mat-tab label="Creditos">
              
            </mat-tab>
        </mat-tab-group>

    </div>
  </div>

</div>