<form>
    <mat-form-field class="field-50-width" >
        <mat-label>Seleccione un item</mat-label>
        <mat-select [(ngModel)]="itemModel" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let i of items" [value]="i">
                {{i.nombreItem}} ${{i.costo.monto}} - Rinde: {{i.personasPorUnidad}} pers. 
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="number" matInput placeholder="Cantidad" value="{{cantidadItemModel}}" 
        [(ngModel)]="cantidadItemModel" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
<br>
<button [disabled]="!isItemValido()" class="btn btn-outline-success"
    (click)="agregarAlEvento()">Agregar al evento<i class="fas fa-cart-plus"></i></button>


<hr>
<h6> ¿No existe el item que querés en el listado?, no hay drama, podés agregarlo</h6>
<form >
    <mat-form-field class="field-full-width" >
        <input #itemN maxlength="20" matInput placeholder="¿que item es?" value="{{nombreItemNuevo}}"
        [(ngModel)]="nombreItemNuevo" [ngModelOptions]="{standalone: true}">
        <mat-hint align="end">{{itemN.value?.length || 0}}/20</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="field-50-width" >
        <input matInput #itemRend max="200"  placeholder="¿para cuantas personas alcanza?" type="number"value="{{personasPorUnidad}}"
        [(ngModel)]="rendimientoItemNuevo" [ngModelOptions]="{standalone: true}">
        <mat-hint align="end">{{itemRend.value?.length || 0}}/200</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="field-50-width" >
        <span matPrefix><i class="fas fa-dollar-sign"></i> &nbsp;</span>
        <input #itemPrecio type="number" matInput placeholder="¿cuanto cuesta?" value="{{montoItemNuevo}}"
        [(ngModel)]="montoItemNuevo" max="9999" [ngModelOptions]="{standalone: true}">
        <mat-hint align="end">{{itemPrecio.value?.length || 0}}/9999</mat-hint>
    </mat-form-field>
    <br>     
</form>
<button [disabled]="!isItemNuevoValido()" class="btn btn-outline-success" (click)="crearItemNuevo()">
    Agregar al listado <i class="fas fa-stream"></i>
</button>