
<nav class="navbar navbar-dark bg-dark fixed-top shadow-sm">

  <a class="" routerLink="/eventeando/eventos" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
    <i class="far fa-newspaper mr-1"></i> Eventos
  </a>
  <a class="" routerLink="/eventeando/invitaciones" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
    <i class="far fa-envelope"></i> Invitaciones
  </a>
  <a class="" routerLink="/eventeando/billetera" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}"> <i
      class="fas fa-wallet"></i> Billetera
  </a>

  <div style="color:white">
    <div style="cursor:pointer">
      <a class="ml-1" routerLink="/eventeando/miCuenta" routerLinkActive="activo"
        [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-user-cog"></i> Mi perfil</a>
      / <a routerLink="#">Salir</a>
    </div>
  </div>
</nav>