<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <a class="" href="/eventeando/eventos">Eventos</a>
  <a class="" href="/eventeando/crear-evento">
    <i class="material-icons" style="vertical-align: bottom;">
      add
    </i> Crear Evento
  </a>
  <a class="" href="/eventeando/invitaciones">Invitaciones</a>
  <a class="" href="/eventeando/billetera">Billetera</a>

  <div style="color:white" class="" >
    <div style="cursor:pointer">
      <i class="fas fa-user-cog"></i>
      <a class="ml-1" href="/eventeando/miCuenta">Mi cuenta</a>
      / <a href="#">Salir</a>
    </div>
  </div>
</nav>