.crear {
    animation: shake 2s cubic-bezier(.4,.07,.19,.97) infinite ;
    // animation: move 6s infinite forwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .crear:hover {
    animation: none ;
    transform: scale(1.3);
  }
  
  router-outlet{
    
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }

  }

