<!-- <div class="container-fluid"> -->

  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons"> whatshot </i>
            Mas populares
          </ng-template>
          <app-mostrar-eventos #ameMasPopulares></app-mostrar-eventos>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-history mr-1"></i>
            Pasados
          </ng-template>
          <app-mostrar-eventos #amePasados></app-mostrar-eventos>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <i class="far fa-calendar-check mr-1"></i>
            Me invitaron en curso
          </ng-template>
          <app-mostrar-eventos #ameInvitaronEnCurso></app-mostrar-eventos>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fas fa-child mr-1"></i>
            Creados por mi
          </ng-template>
          <app-mostrar-eventos #ameCreadosPorMi></app-mostrar-eventos>
        </mat-tab>

        <mat-tab style="width:100%!important" (click)="sas()">
          <ng-template mat-tab-label>
            <div class="crear" style="color:#0012ff!important">
              <i class="material-icons">
                add_circle_outline
              </i>
              <span style="vertical-align: super"> Crear Evento </span>
            </div>

          </ng-template>
          <div style="width:100%!important">
            <app-crear-evento [parentApi]="getParentApi()" style="width:100%!important"></app-crear-evento>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

<!-- </div> -->