<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons"> whatshot </i>
            Mas populares
          </ng-template>
          <app-mostrar-eventos></app-mostrar-eventos>
        </mat-tab>

        <mat-tab label="Pasados">
          <app-mostrar-eventos></app-mostrar-eventos>
        </mat-tab>

        <mat-tab label="Me invitaron en curso">
          <app-mostrar-eventos></app-mostrar-eventos>
        </mat-tab>
        <mat-tab label="Creados por mi">
          <app-mostrar-eventos></app-mostrar-eventos>
        </mat-tab>

        <mat-tab style="width:100%!important">
          <ng-template mat-tab-label>
            <div class="crear" style="color:#0012ff!important">
              <i class="material-icons">
                add_circle_outline
              </i>
              <span style="vertical-align: super"> Crear Evento </span>
            </div>

          </ng-template>
          <div style="width:100%!important">
            <app-crear-evento style="width:100%!important"></app-crear-evento>
          </div>
          <!-- <button (click)="getDatos()">getdatos</button> -->

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>